# Advanced Microeconometrics 2023 Final Exam: Getting Started with the Data

*9:00 am January 13th to 9:00 am January 15th, 2024* 

The code herein is merely intended as a help for reading in the data. You are free to disregard it entirely.

In [1]:
import pandas as pd

# Cross Sectional Data

In [2]:
data = pd.read_csv('data.csv')

In [3]:
# There are outcomes (y) missing and s indicates which outcomes are not missing
# data.head(20)

In [4]:
data.describe()

                y            x            s
count  448.000000  1000.000000  1000.000000
mean     1.415272     0.014009     0.448000
std      1.955411     0.994254     0.497537
min     -4.486865    -3.049044     0.000000
25%     -0.027941    -0.637182     0.000000
50%      1.286428    -0.027879     0.000000
75%      2.633311     0.700595     1.000000
max      9.265470     4.279818     1.000000

In [5]:
# Extracting the data
y = data['y'].values
x = data['x'].values
s = data['s'].values