# Project 3: Getting Started 

This notebook is intended to help you get off to a flying start with the cars dataset. You don't have to use this notebook and you can discard any parts you do not like, they are purely intended as a help to get started.

In [30]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
sns.set_theme()

# optimization
from scipy import optimize
import estimation as est
import clogit

import statsmodels.formula.api as smf

# Read in data

The dataset, `cars.csv`, contains cleaned and processed data. If you want to make changes, the notebook, `materialize.ipynb`, creates the data from the raw source datsets.

In [31]:
cars = pd.read_csv('cars.csv')
lbl_vars = pd.read_csv('labels_variables.csv')
lbl_vals = pd.read_csv('labels_values.csv')

# convert from dataframe to dict
lbl_vals = {c: lbl_vals[c].dropna().to_dict() for c in lbl_vals.columns}

In [32]:
lbl_vars.set_index('variable', inplace=True)

## Overview of the dataset

In [33]:
lbl_vars.join(cars.mean(numeric_only=True).apply(lambda x: f'{x: .2f}').to_frame('Mean'))

,label,Mean
variable,,
ye,year (=first dimension of panel),84.50
ma,market (=second dimension of panel),3.00
co,model code (=third dimension of panel),207.50
zcode,alternative model code (predecessors and succe...,177.76
brd,brand code,16.79
type,name of brand and model,NaN
brand,name of brand,NaN
model,name of model,NaN
org,"origin code (demand side, country with which c...",2.72
loc,"location code (production side, country where ...",5.17
cla,class or segment code,2.30
home,domestic car dummy (appropriate interaction of...,0.32
frm,firm code,14.50
qu,sales (number of new car registrations),35606.68
cy,cylinder volume or displacement (in cc),1337.09
hp,horsepower (in kW),50.10
we,weight (in kg),934.49
pl,"places (number, not reliable variable)",4.88
do,"doors (number, not reliable variable)",3.55
le,length (in cm),409.24
wi,width (in cm),163.44
he,height (in cm),140.46
li1,"measure 1 for fuel efficiency (liter per km, a...",6.59
li2,"measure 2 for fuel efficiency (liter per km, a...",8.11
li3,"measure 3 for fuel efficiency (liter per km, a...",8.92
li,"average of li1, li2, li3 (used in papers)",7.87
sp,maximum speed (km/hour),154.22
ac,time to acceleration (in seconds from 0 to 100...,16.27
pr,price (in destination currency including V.A.T.),2608988.58
princ,=pr/(ngdp/pop): price relative to per capita i...,0.76
eurpr,=pr/avdexr: price in common currency (in SDR t...,7256.92
exppr,=pr/avexr: price in exporter currency,600384.65
avexr,av. exchange rate of exporter country (exporte...,229.30
avdexr,av. exchange rate of destination country (dest...,319.91
avcpr,av. consumer price index of exporter country,492.53
avppr,av. producer price index of exporter country,671.77
avdcpr,av. consumer price index of destination country,77.02
avdppr,av. producer price index of destination country,87.69
xexr,avdexr/avexr,66.32
tax,percentage VAT,0.21
pop,population,49183800.00
ngdp,nominal gross domestic product of destination ...,178667304825541.97
rgdp,real gross domestic product,216716720230172.44
engdp,=ngdp/avdexr: nominal gdp in common currency (...,504371708122.45
ergdp,=rgdp/avexr,659002565347.56
engdpc,=engdp/pop: nominal gdp per capita in common c...,10015.84
ergdpc,=ergdp/pop,13264.84
s,market share (qu / qu_tot),0.02
qu_tot,total sales in this market-year,1424267.29
inc,avg. income per capita,26829.74

# Set up for analysis

In [34]:
# Pic the prince variable 
price_var = 'princ'

# new variable: log of price
cars['logp'] = np.log(cars[price_var])

# new variable: price elasticity heterogeneous for home-region 
cars['logp_x_home'] = cars[price_var] * cars['home']

### Dummy variables

For working with matrices, we want to have a column for each dummy variable.

In [35]:
categorical_var = 'brand' # name of categorical variable
dummies = pd.get_dummies(cars[categorical_var]) # creates a matrix of dummies for each value of dummyvar
x_vars_dummies = list(dummies.columns[1:].values) # omit a reference category, here it is the first (hence columns[1:])

# add dummies to the dataframe 
assert dummies.columns[0] not in cars.columns, f'It looks like you have already added this dummy to the dataframe. Avoid duplicates! '
cars = pd.concat([cars, dummies], axis=1)

### `x_vars`: List of regressors to be used

In [36]:
x_vars = ['logp', 'home', 'cy', 'hp', 'we', 'li'] + x_vars_dummies # <--- !!! choose your preferred variables here 
print(f'K = {len(x_vars)} variables selected.')

# add price elasticity heterogeneous for home-region 
x_vars_new = x_vars + ['logp_x_home']

K = 38 variables selected.

In [37]:
K = len(x_vars)
N = cars.ma.nunique() * cars.ye.nunique()
J = 40 
x = cars[x_vars].values.reshape((N,J,K))
x_new = cars[x_vars_new].values.reshape((N,J,K+1))
y = np.log(cars['s'].values.reshape((N,J)))

# standardize x
# x = ((x - x.mean(0).mean(0))/(x.std(0).std(0)))

In [38]:
# x[x == False] = 0.0
# x[x == True] = 1.0

## Rescaling parameters

### To prevent values optimizer issues

In [39]:
# ['logp', 'home', 'cy', 'hp', 'we', 'li'] 

# Now in cy/1000
cy_i = x_vars.index('cy')
x[:,:,cy_i] = x[:,:,cy_i]/1_000
x_new[:,:,cy_i] = x_new[:,:,cy_i]/1_000

# now in kW/1000
hp_i = x_vars.index('hp')
x[:,:,hp_i] = x[:,:,hp_i]/1_000
x_new[:,:,hp_i] = x_new[:,:,hp_i]/1_000

# Now in tons 
we_i = x_vars.index('we')
x[:,:,we_i] = x[:,:,we_i]/1_000
x_new[:,:,we_i] = x_new[:,:,we_i]/1_000

# now in kW/100
li_i = x_vars.index('li')
x[:,:,li_i] = x[:,:,li_i]/100
x_new[:,:,li_i] = x_new[:,:,li_i]/100

In [40]:
x = x.astype(float)

In [41]:
x_new = x_new.astype(float)

# Conditional Logit

## Estimate of x

In [42]:
# Starting values 
theta0 = clogit.starting_values(y, x)

In [43]:
# Find results
res = est.estimate(clogit.q, theta0, np.exp(y), x)

Optimization terminated successfully.
         Current function value: 3.473345
         Iterations: 328
         Function evaluations: 12948
         Gradient evaluations: 332

In [44]:
# Estimate the model, standard errors, and t-values
est.print_table(x_vars,res)

Optimizer succeded after 328 iter. (12948 func. evals.). Final criterion:    3.473.
Results

               theta          se       t
logp         -0.1569     11.1371 -0.0141
home          1.3616      2.6214  0.5194
cy           -0.1242      9.0594 -0.0137
hp          -14.4832    213.3042 -0.0679
we            0.5079     17.0553  0.0298
li           -3.0730    149.1189 -0.0206
MCC          -1.3615    981.1708 -0.0014
VW            0.1785     12.5653  0.0142
alfa romeo   -0.7115     18.8993 -0.0376
audi         -0.1088     18.1934 -0.0060
citroen      -0.4957     15.0073 -0.0330
daewoo       -0.4800    261.8753 -0.0018
daf          -0.7116     46.2231 -0.0154
fiat         -0.1252     12.5399 -0.0100
ford          0.0604     12.1916  0.0050
honda        -0.2238     26.2820 -0.0085
hyundai      -0.7379    306.8730 -0.0024
innocenti    -1.3147     27.8558 -0.0472
lancia       -0.9211     15.4774 -0.0595
mazda        -0.3537     26.0709 -0.0136
mercedes      0.4774     10.6150  0.0450
mitsubishi   -0.4222     57.7085 -0.0073
nissan       -0.1488     14.5230 -0.0102
opel         -0.0049     11.3323 -0.0004
peugeot      -0.0604     12.2064 -0.0049
renault      -0.0107     12.6394 -0.0008
rover        -0.3874     12.2012 -0.0318
saab         -0.7256    266.0085 -0.0027
seat         -0.7446     32.6765 -0.0228
skoda        -0.8400    102.2147 -0.0082
suzuki       -1.0962    196.9798 -0.0056
tal/hillman  -1.2390     82.8137 -0.0150
tal/matra    -2.2743  15591.7394 -0.0001
tal/simca    -0.3882     17.9329 -0.0216
tal/sunb     -4.9717   1772.4553 -0.0028
talbot       -0.4079     15.0459 -0.0271
toyota       -0.0342     15.9530 -0.0021
volvo        -0.0112     24.0494 -0.0005

## Estimate of x_new

In [45]:
# Starting values 
theta0_new = clogit.starting_values(y,x_new)

In [46]:
# Find residuals
res_new = est.estimate(clogit.q, theta0_new, np.exp(y), x_new)

Optimization terminated successfully.
         Current function value: 3.473124
         Iterations: 341
         Function evaluations: 13760
         Gradient evaluations: 344

In [47]:
# Estimate the model, standard errors, and t-values
est.print_table(x_vars_new,res_new)

Optimizer succeded after 341 iter. (13760 func. evals.). Final criterion:    3.473.
Results

               theta         se       t
logp         -0.1283    11.5982 -0.0111
home          1.4813     7.2229  0.2051
cy           -0.1275     9.2721 -0.0138
hp          -13.3324   221.9468 -0.0601
we            0.5147    17.9743  0.0286
li           -3.1885   150.0850 -0.0212
MCC          -1.3137   746.1375 -0.0018
VW            0.2067    13.2944  0.0155
alfa romeo   -0.6559    19.3594 -0.0339
audi         -0.0927    18.8341 -0.0049
citroen      -0.4629    15.2106 -0.0304
daewoo       -0.4232   242.0293 -0.0017
daf          -0.6594    46.8341 -0.0141
fiat         -0.0854    13.1503 -0.0065
ford          0.0927    12.6182  0.0073
honda        -0.2022    26.9072 -0.0075
hyundai      -0.6934   308.2111 -0.0022
innocenti    -1.2878    27.8730 -0.0462
lancia       -0.8659    16.3796 -0.0529
mazda        -0.3255    27.0919 -0.0120
mercedes      0.4802    10.9730  0.0438
mitsubishi   -0.3931    59.2304 -0.0066
nissan       -0.1198    15.0619 -0.0080
opel          0.0279    11.8603  0.0024
peugeot      -0.0327    12.5342 -0.0026
renault       0.0216    13.0822  0.0017
rover        -0.3438    12.7760 -0.0269
saab         -0.7317   283.3195 -0.0026
seat         -0.6865    33.0501 -0.0208
skoda        -0.7762   108.7577 -0.0071
suzuki       -1.0377   199.3114 -0.0052
tal/hillman  -1.2133    88.0664 -0.0138
tal/matra    -2.1163  2923.2949 -0.0007
tal/simca    -0.3628    18.9516 -0.0191
tal/sunb     -4.7463  2000.0912 -0.0024
talbot       -0.3824    15.4379 -0.0248
toyota       -0.0108    16.4190 -0.0007
volvo        -0.0182    24.7363 -0.0007
logp_x_home  -0.1718     9.8557 -0.0174

# Elastricities

In [48]:
thetahat = res['theta']

In [49]:
thetahat_new = res_new['theta']

In [50]:
# Original choice probabilites
ccp1 = clogit.choice_prob(thetahat, x)

In [51]:
E_own   = np.zeros((N, J))
E_cross = np.zeros((N, J))
log_price = 0 

for j in range(J):
    # A. copy 
    x2 = x.copy()
    
    # B. increase price just for car j 
    rel_change_x = 1e-3
    x2[:, j, log_price] *= (1.0+rel_change_x)
    
    # C. evaluate CCPs
    ccp2 = clogit.choice_prob(thetahat, x2)
    
    # D. percentage change in CCPs 
    rel_change_y = ccp2 / ccp1 - 1.0 
    
    # E. elasticities 
    elasticity = rel_change_y / rel_change_x 
    
    E_own[:, j] = elasticity[:, j]
    
    k_not_j = [k for k in range(J) if k != j]
    E_cross[:, j] = elasticity[:, k_not_j].mean(axis=1)

In [52]:
print(f'Own-price elasticity:  {np.mean(E_own).round(4)}')
print(f'Cross-price elasticity: {np.mean(E_cross).round(4)}')
print(f'Difference in price elasticity: {np.mean(E_own).round(4) - np.mean(E_cross).round(4)}')

Own-price elasticity:  0.0549
Cross-price elasticity: -0.0016
Difference in price elasticity: 0.056499999999999995

# Estimation of Parameters of Intrest

In [53]:
# Partiel effects at the average 
def PEA(x,thetahat,inter:bool):
    
    # Average car characteristics on market i
    avg_car_i = np.mean(x, axis = 1) 
    
    avg_car_home = avg_car_i.copy()
    avg_car_home[:,1] = 1

    avg_car_for = avg_car_i.copy()
    avg_car_for[:,1] = 0

    if inter:   # If interaction term is included the data point has to be corrected for the home value as well
        avg_car_home[:,-1] = avg_car_home[:,0]
        avg_car_for[:,-1] = 0

    N, J, K = x.shape

    x_new = np.zeros((N,J+1,K))
    x_new[:,:-1,:] = x.copy()
    x_new[:,-1,:] = avg_car_for
    ccp_for = clogit.choice_prob(thetahat,x_new)

    x_new[:,-1,:] = avg_car_home
    ccp_home = clogit.choice_prob(thetahat,x_new)

    bias = np.mean(ccp_home[:,-1]-ccp_for[:,-1])
    return bias

In [54]:
# Marginal willingness to pay
def MWP(thetahat):
    return abs(thetahat[1]/thetahat[0])

In [55]:
# Elasticities
def elas_home(x,thetahat,inter):
    beta = thetahat[0]
    # If there is an interaction term, the home value has to be corrected for the interaction term as well
    if inter:
        beta += thetahat[-1]
    # The elasticity for the home region
    E_own = (1-clogit.choice_prob(thetahat,x))*beta
    # The mean 
    elas_h = np.mean(E_own[x[:,:,1]==1])
    return elas_h

def elas_for(x,thetahat,inter):
    beta = thetahat[0]
    E_own = (1-clogit.choice_prob(thetahat,x))*beta
    elas_f = np.mean(E_own[x[:,:,1]!=1])
    return elas_f
    
def elas_diff(x,thetahat,inter):
    beta = thetahat[0]
    if inter:
        beta += thetahat[-1]
    E_own_f = (1-clogit.choice_prob(thetahat,x))*thetahat[0]
    elas_f = np.mean(E_own_f[x[:,:,1]!=1])
    E_own_h = (1-clogit.choice_prob(thetahat,x))*beta
    elas_h = np.mean(E_own_h[x[:,:,1]==1])
    return abs(elas_f-elas_h)

def elas(x, thetahat,inter):
    elas_h = elas_home(x,thetahat,inter)
    elas_f = elas_for(x,thetahat,inter)
    elas_d = elas_diff(x,thetahat,inter)
    return elas_h, elas_f, elas_d

In [56]:
def properties(x, thetahat, cov, print_out:bool, se:bool, inter:bool):
    """ Aggregate function to calculate and collect all parameters of interest as well as standard errors
    """
    pea = PEA(x,thetahat,inter)
    mwp = MWP(thetahat)
    el_h, el_f, el_d = elas(x, thetahat,inter)

    # Calculate standard errors with delta method
    if se:
        # home bias
        qq0 = lambda theta: PEA(x,theta,inter)
        g0 = est.centered_grad(qq0, thetahat)
        se_home = np.sqrt(g0@cov@g0.T/N)

        # marginal willingness to pay
        qq1 = lambda theta: MWP(theta)
        g1 = est.centered_grad(qq1,thetahat)
        se_mwp = np.sqrt(g1@cov@g1.T/N)

        # elasticities
        # Home 
        qq20 = lambda theta: elas_home(x,theta,inter)
        g20 = est.centered_grad(qq20,thetahat)
        se_20 = np.sqrt(g20@cov@g20.T/N)
        # Foreign 
        qq21 = lambda theta: elas_for(x,theta,inter)
        g21 = est.centered_grad(qq21,thetahat)
        se_21 = np.sqrt(g21@cov@g21.T/N)
        # Difference
        qq22 = lambda theta: elas_diff(x,theta,inter)
        g22 = est.centered_grad(qq22,thetahat)
        se_22 = np.sqrt(g22@cov@g22.T/N)

        data = np.concatenate((np.column_stack((pea,mwp,el_h,el_f,el_d)),np.column_stack((se_home,se_mwp,se_20,se_21,se_22))),axis = 0)

    if print_out:
        df = pd.DataFrame(data = data.T,index = ['PEA','MWP','Own price elasiticity (Home)','Own price elasticity (Foreign)','Own price elasitciity (diff)'],columns = ['Estimate','se'])
        df = df.round(4)
        return df
    else:
        return data

In [57]:
properties(x,res['theta'],res['cov'],print_out = True,se=True,inter=False)

                                Estimate       se
PEA                               0.0372   0.0116
MWP                               8.6807  50.3868
Own price elasiticity (Home)     -0.1500   0.8696
Own price elasticity (Foreign)   -0.1543   0.8945
Own price elasitciity (diff)      0.0043   0.0249

In [58]:
properties(x_new,res_new['theta'],res_new['cov'],print_out = True,se=True,inter=True)

                                Estimate       se
PEA                               0.0471   0.0509
MWP                              11.5448  86.4514
Own price elasiticity (Home)     -0.2870   1.0369
Own price elasticity (Foreign)   -0.1262   0.9315
Own price elasitciity (diff)      0.1608   0.7764